.advantages-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.advantages-section__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.advantages-section__card {
  @media screen and(min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
  @media screen and(min-width: 480px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  position: relative;
  & + & {
    @media screen and(min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.advantages-section__icon {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--third-bg-color);
  border-radius: 4px;
}

.advantages-section__sub-title {
  @media screen and(max-width: 767px) {
    text-align: center;
  }
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.advantages-section__text {
  @media screen and(min-width: 480px) {
    height: 50px;
  }
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

/*
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and(max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}

.advantages-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.advantages-section__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.advantages-section__card {
  @media screen and(min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
  position: relative;
  & + & {
    @media screen and(min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.advantages-section__icon {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--third-bg-color);
  border-radius: 4px;
}

.advantages-section__sub-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.advantages-section__text {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}
*/
