.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__block {
  align-items: baseline;
  display: flex;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts__item {
  margin-top: 9px;
  &:first-child {
    margin-top: 0px;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    color: var(--fifth-text-color);
  }
}

/* Footer social net / Футер соц сети */

.footer-social-net__block {
  margin-left: 70px;
}

.footer-social-net__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
}

.footer-social-net__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-net__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.footer-social-net__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-bg-color);
  background-color: var(--sixth-bg-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--animation-timing);
  &:hover,
  &:focus {
    background-color: var(--bg-color-effect);
    border-radius: 50%;
  }
}

/* Footer subsribe form / Футер секция подписка */

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
}

.footer-subscribe__item {
  display: flex;
}

.footer-subscribe__input {
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-right: 15px;
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--fifth-text-color);
}

.footer-subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 29px;
  background-color: var(--bg-color-effect);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  position: relative;

  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.footer-subscribe__svg--send {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--fifth-text-color);
}
