.gallery-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-section__block {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.gallery-section__list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-section__card {
  margin-left: 30px;
  margin-bottom: 30px;
  &:nth-child(1n + 7) {
    margin-bottom: 0px;
  }
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.card__link {
  transition: box-shadow var(--transition-duration) var(--animation-timing);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .card-image__overlay-text,
  &:focus .card-image__overlay-text {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-image__overlay {
  position: relative;
  overflow: hidden;
}

.card__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-image__overlay-text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);

  position: absolute;
  width: 370px;
  top: 0;
  left: 0;
  pointer-events: none;

  transform: translateY(100%);

  background-image: linear-gradient(
    to right,
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );
  opacity: 0;

  transition: opacity var(--transition-duration) var(--animation-timing),
    transform var(--transition-duration) var(--animation-timing);
}

.card__name {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}
